# .NET Core / .NET Standard
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config
*.deps.json
*.runtimeconfig.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.vscode/
*.sln
*.suo
*.user
*.userprefs
*.proj
*.xproj
*.swp
*.sln.docstates

# NuGet
packages/
*.nupkg
*.paket.*
paket-files/

# MSTest
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Unity3D
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uild[Ll]ogs/
[Uu]nityGenerated/
[Uu]nityPackageManager/

# Rider
.idea/
*.sln.iml

# Others
*.cache
*.bak
*.log
*.swp